/* src/components/PropertyCard.css */
.property-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 15px;
  overflow: hidden;
  width: 300px; /* Ancho fijo para la card, ajusta según necesites */
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease-in-out;
}

.property-card:hover {
  transform: translateY(-5px);
}

.property-card-image-placeholder {
  background-color: #e0e0e0;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #757575;
  font-style: italic;
}

.property-card-content {
  padding: 15px;
  text-align: left;
}

.property-card-title {
  font-size: 1.25em;
  margin-top: 0;
  margin-bottom: 8px;
  color: #333;
}

.property-card-location {
  font-size: 0.9em;
  color: #666;
  margin-bottom: 10px;
}

.property-card-description {
  font-size: 0.9em;
  color: #444;
  margin-bottom: 15px;
  line-height: 1.4;
}

.property-card-details {
  font-size: 0.8em;
  color: #777;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #eee;
  padding-top: 10px;
}


.property-card-details-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9em;
  margin-top: 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.property-card-details-button:hover {
  background-color: #0056b3;
}